# Python / Pipeline specific
**/venv/
**/__pycache__/
**/.pytest_cache/
*.py[cod]

# Data Security
pipeline/data/raw/*.pdf
pipeline/data/interim/**/*
!pipeline/data/interim/**/
!pipeline/data/interim/**/.gitkeep

#Notebook clutter
**/.ipynb_checkpoints
.virtual_documents/

# OS specific
.DS_Store
Thumbs.db