# Python / Pipeline specific
**/venv/
**/__pycache__/
**/.pytest_cache/
*.py[cod]

# Data Security
pipeline/data/raw/*.pdf
pipeline/data/interim/*
!**/data/**/.gitkeep

# OS specific
.DS_Store
Thumbs.db